@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ubuntu;
  src: url("./fonts/Ubuntu-Regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: Ubuntu;
  src: url("./fonts/Ubuntu-Medium.ttf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: Ubuntu;
  src: url("./fonts/Ubuntu-Bold.ttf") format("opentype");
  font-weight: 700;
}